/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.upbox {
 border:2px solid #ccc; width:480px; height: 600px; overflow-y: scroll; 
}

.button_up {
    background:transparent center;
    overflow:visible;
    position:absolute;       
    left:68px;
    top:600px;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:20px;           
}

.b_cert {
    background:transparent center;
    overflow:visible;
    position:absolute;       
    left:68px;
    top:650px;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:25px;           
}

.b_list {
    background:transparent center;
    overflow:visible;
    position:relative;       
    left:0px;
    top:20px;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    text-align: left;
    font-size:25px;
    margin-bottom: 50px;
    margin-right: 50px;           
}

.b_quest {
    background:transparent center;
    overflow:visible;
    position:relative;       
    left:0px;
    top:20px;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:25px;
    margin-bottom: 50px;         
}


.b_func {
    background:transparent center;
    overflow:visible;
    position:absolute;       
    left:68px;
    top:600px;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:25px;           
}

.b_voltar {
    background:transparent center;
    position:absolute;       
    left:400px;
    top:700px;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:25px;            
}


.start_screen {
  width: 480px;
  height: 800px;
  background-image: url(../img/start.png);
  background-size: 100% 100%;
}

.game {
  width: 480px;
  height: 800px;
  background-image: url(../img/bg2.png);
  background-size: 100% 100%;
}

.clicker {
  position: absolute;
  left: 94px;
  top:370px;
  width: 123px;
  height: 156px;
  background-image: url(../img/tela.png);
  background-size: contain;
}

.counter{
    position:absolute;             
    left:50%;
    top:30%;
    font-size:24px;
    font-weight:normal;
    margin:2px;
    overflow:visible;
    padding:0px;
    text-align:center;
}


.timer{
    position:absolute;             
    left:50%;
    top:20%;
    font-size:24px;
    font-weight:normal;
    margin:2px;
    overflow:visible;
    padding:0px;
    text-align:center;
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

h1 {
    font-size:24px;
    /*font-weight:normal;*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

h2 {
    font-size:60px;
    /*font-weight:normal;*/
    font-family:'Ubuntu','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin:10px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.popup {
position: relative;
top:5px;
width:100%;
font-size:24px;
font-weight:normal;
margin:0px;
overflow:visible;
padding:0px;
text-align:center;
}


/*
div {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    // Chrome, Safari, Opera
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    // Standard syntax 
    animation-name: myfirst;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

//Chrome, Safari, Opera
@-webkit-keyframes myfirst {
    0%   {background:red; left:0px; top:0px;}
    25%  {background:yellow; left:200px; top:0px;}
    50%  {background:blue; left:200px; top:200px;}
    75%  {background:green; left:0px; top:200px;}
    100% {background:red; left:0px; top:0px;}
}

// Standard syntax 
@keyframes myfirst {
    0%   {background:red; left:0px; top:0px;}
    25%  {background:yellow; left:200px; top:0px;}
    50%  {background:blue; left:200px; top:200px;}
    75%  {background:green; left:0px; top:200px;}
    100% {background:red; left:0px; top:0px;}
}
*/